@model IEnumerable<ProjetWeb3Bourse.Models.Bourse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.variation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @section Scripts{
           <script src="~/js/signalr/dist/browser/signalr.js"></script>
           <script src="~/js/IndexBourse.js"></script>
       }
    </tbody>
</table>
