@model ProjetWeb3Bourse.Models.Evenement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Evenement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="bourseId" class="control-label"></label>
                <select asp-for="bourseId" class ="form-control" asp-items="ViewBag.bourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" id="current-date" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="heure" class="control-label"></label>
                <input asp-for="heure" class="form-control" id="current-time"/>
                <span asp-validation-for="heure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valeur" class="control-label"></label>
                <input asp-for="valeur" class="form-control" />
                <span asp-validation-for="valeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="variation" class="control-label"></label>
                <input asp-for="variation" class="form-control" />
                <span asp-validation-for="variation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("current-date").valueAsDate = new Date();
        document.getElementById("current-time").valueAsDate = new Date();
    </script>
}
